[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=bash -c 'exec $APPIMAGES_PATH/freetube.AppImage'
Name=FreeTube
Icon=freetube
