<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>st -e python</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Neovim"> <action name="Execute">
                <execute>st -e nvim</execute>
            </action> </item>
            <item label="Text Editor"> <action name="Execute">
                <execute>xed</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>st -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="GTK Straw Viewer"> <action name="Execute">
                <execute>gtk-straw-viewer</execute>
            </action> </item>
            <item label="mpv Media Player"> <action name="Execute">
                <execute>mpv --player-operation-mode=pseudo-gui</execute>
            </action> </item>
            <item label="ncmpcpp"> <action name="Execute">
                <execute>st -e ncmpcpp</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Brave"> <action name="Execute">
                <execute>brave</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>st -e ftp</execute>
            </action> </item>
            <item label="Lynx"> <action name="Execute">
                <execute>st -e lynx</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                <execute>st -e talk</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>st -e telnet</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Abook"> <action name="Execute">
                <execute>st -e abook</execute>
            </action> </item>
            <item label="Zathura"> <action name="Execute">
                <execute>zathura</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>st -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>st -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="GIT"> <action name="Execute">
                <execute>st -e git</execute>
            </action> </item>
            <item label="ST"> <action name="Execute">
                <execute>st</execute>
            </action> </item>
            <item label="tym"> <action name="Execute">
                <execute>tym</execute>
            </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="urxvt (client)"> <action name="Execute">
                <execute>urxvtc</execute>
            </action> </item>
            <item label="urxvt (tabbed)"> <action name="Execute">
                <execute>urxvt-tabbed</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Vifm"> <action name="Execute">
                <execute>st -e vifm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="ARandR"> <action name="Execute">
                    <execute>arandr</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>st -e pstree</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>st -e pstree.x11</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>st -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Info"> <action name="Execute">
                <execute>st -e info</execute>
            </action> </item>
            <item label="unclutter - start"> <action name="Execute">
                <execute>unclutter</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>st -e xev</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
